@{
    ViewData["Title"] = "Home Page";
}

@model WebParser.Models.Document


<form asp-action="Index" asp-controller="Home" method="post" enctype="multipart/form-data">
    <p>
        <label></label>
        <input name="Name" class="form-control" />
    </p>
    <p>
        <label></label>
        <input name="DocumentFile" type="file" class="form-control" />
    </p>
    <p>
        <input type="submit" value="UpLoad" />
    </p>
</form>


